dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
dist/
result
*.beam
TAGS
.DS_Store
output/
stack.yaml.lock
bin/
.swp
*.core
.tmp/
.test/
ebin/
erl_crash.dump
Mnesia.nonode@nohost